@import 'styles/variable';

.site_title {
  background-color: $lighter_gray;
	.container {
    padding: .8em 1.5em;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
    div {
      display: flex;
      width: auto;
    }
    @media (max-width: 860px) {
      padding: .5em 1em;
    }
    .menus {
      list-style: none;
      display: flex;
      gap: .5em;
      a {
        &:hover {
          color: dodgerblue;
        }
      }
    }
	}
  .mobile_menu {
    height: 100vh;
    width: 100%;
    padding: 2em 1.5em;
    z-index: 2;
    background-color: $dark_gray;
    position: fixed;
    inset: 0;
    text-align: right;
    transition: all .5s;
    button {
      margin-left: auto;
      position: relative;
    }
    li {
      text-align: center;
      list-style: none;
      padding: 1em;
      font-size: 18px;
      font-weight: 600;
      a:hover {
        color: dodgerblue;
      }
    }
  }
}
